.footer {
  background-color: #ff9800;
  padding-top: 20px;
  padding-bottom: 20px;
  .alternal-link {
    text-decoration: none;
    color: #fff;
  }
  .alternal-link:hover {
    color: #ddd;
  }
  .link-group {
    margin-top: 20px;
  }
}